* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.button1 {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 3px;
    background: rgb(64, 199, 129);
    transition: 0.2s;
}

.button1:hover {
    background: rgb(53, 167, 110);
}

.button2 {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-decoration: none;
    padding: 20px;
    border-radius: 3px;
    background: white;
    transition: 0.2s;
}

.button2:hover {
    background: #7865D6;
}

.headerLeft {
    margin-left: 50px;
}

.headerRight {
    margin-right: 50px;
}

h1 {
    font-family: "Droid Serif", "Open Sans", serif;
    font-size: 35px;
    color: white;
    margin-top: 5%;
}

.row {
    margin-top: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

textarea {
    height: 200px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: "Droid Serif", "Open Sans", serif;
    font-size: 20px;
    font-weight: 700;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=reset] {
    background-color: #D63B5C;
    color: white;
    margin-right: 5%;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=reset]:hover {
    background-color: #B91E3F;
}

.container {
    width: 80%;
    margin-top: 5%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.colorWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(77, 56, 75, 1);
    background: -moz-linear-gradient(left, rgba(77, 56, 75, 1) 0%, rgba(36, 54, 90, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(77, 56, 75, 1)), color-stop(100%, rgba(36, 54, 90, 1)));
    background: -webkit-linear-gradient(left, rgba(77, 56, 75, 1) 0%, rgba(36, 54, 90, 1) 100%);
    background: -o-linear-gradient(left, rgba(77, 56, 75, 1) 0%, rgba(36, 54, 90, 1) 100%);
    background: -ms-linear-gradient(left, rgba(77, 56, 75, 1) 0%, rgba(36, 54, 90, 1) 100%);
    background: linear-gradient(to right, rgba(77, 56, 75, 1) 0%, rgba(36, 54, 90, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d384b', endColorstr='#24365a', GradientType=1);
    height: 100%;
}

